.awards {

}

    .awards__title {
        font-family: 'TeXGyreAdventor Bold' sans-serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 38px;
        color: #555;
        text-transform: uppercase;
        text-align: center;
    }

    .awards__carousel {
        margin-top: 33px;
    }
