.awards {
    padding: 46px 0 27px;
}

    .awards__title {
        font-family: 'TeXGyreAdventor Bold' sans-serif;
        font-size: 36px;
        line-height: 38px;
        color: #555;
        text-transform: uppercase;
        text-align: center;
    }

    .awards__list {
        margin-top: 33px;
    }

        .awards__list__item {
            display: inline-block;
            vertical-align: top;
            width: 148px;
            margin-left: 10px;
        }

        .awards__list__item:first-child {
            margin-left: 0;
        }