.button {
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0 24px 0 28px;
    background: #7dc400;
    border-radius: 7px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
    box-shadow: 0 3px 10px 0 rgba(104, 157, 11, 0.75);
    font-family: 'TeXGyreAdventor Bold' sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: #78ba03;
    color: #eee;
}
