.features {
    position: relative;
    background: url(../images/feature_image.png) no-repeat right bottom;
    padding-bottom: 112px;
    margin-left: 9px;
}

    .features__title {
        display: inline;
        color: #555;
        font-family: 'TeXGyreAdventor Bold' sans-serif;
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
    }

    .features__title__blue {
        color: #007abe;
    }

    .features__title__pink {
        color: #cf1656;
    }

    .features__list {
        font-size: 24px;
        line-height: 26px;
        color: #555;
        margin-top: 29px;
        margin-left: 9px;
        width: 700px;
    }

        .features__list__item {
            margin-top: 10px;
        }

        .features__list__item:first-child {
            margin-top: 0;
        }

        .features__list__item:before {
            content: "•";
            color: #007abe;
            font-size: 28px;
            margin-right: 11px;
        }