.page {

}
    .page__header {
        background: #263b8c url(../images/header_background.jpg) no-repeat center top;
    }

        .page__header__top {
            background: rgba(15,12,19,.54);
            height: 87px;
        }

        .page__header__content {
            margin-top: 52px;
        }

    .page__features {
        background: #fff;
        margin-top: 32px;
    }

    .page__register {
        background: #4280c7;
    }

    .page__awards {
        background: #dfeeff;
        padding: 46px 0 27px;
    }

    .page__footer {
        background: #fff;
    }