.page {

}
    .page__header {
        background: #263b8c url(../images/header_background.jpg) no-repeat center top;
        height: 478px;
    }

        .page__header__top {
            background: rgba(15,12,19,.54);
            height: 87px;
        }

    .page__features {
        background: #fff;
        margin: 32px 0 0 20px;
    }

    .page__register {
        background: #4280c7;
        margin: 112px 0 0;
    }

    .page__footer {
        margin: 20px 0 0;
    }