.register {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 27px 0;
    text-align: center;
}

    .register__left {
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        width: 316px;
    }

    .register__center {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;
        width: 285px;
    }

    .register__right {
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        width: 290px;
    }

    .register__separator {
        width: 1px;
        height: 43px;
        background: #4f8dd3;
        border-left: 1px solid #3368a5;
        display: inline-block;
        vertical-align: top;
        margin-left: 13px;
        margin-top: 7px;
    }

        .register__separator:first-child {
            margin-right: 12px;
            margin-left: 0;
        }